body {
  margin: 0;
  font-family: 'Open Sans', sans-serif!important;
  padding: 20px 40px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  input {
    font-family: 'Open Sans', sans-serif!important;
  }

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}



@media screen and (max-width: 991px) {
  body {
    padding: 20px 12px;
  }
}